# --- Frontend & Common Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# --- Backend & Java (Maven) ---
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/

# --- IDEs (VS Code, IntelliJ, NetBeans) ---
.vscode/
.idea
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/.nb-gradle/

# --- Environment Variables ---
.env
docker/.env

# --- Others ---
.DS_Store
*.suo
*.sw?