services:
  postgres:
    image: postgres:18
    container_name: postgres-db
    environment:
      POSTGRES_DB: thitracnghiem
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis-cache
    ports:
      - "6379:6379"

  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: cnweb-app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    env_file:
      - ../.env
